$lightgreen: #3dda34;
$black: #000;
$darkgray: #131210;
$azul: #68aca8;
$lightbrown: #dbb239;
$cream: #f9f2dd;
$maingreen: #3e8e41;
$lightyeellow: #dfde6a;
$lightgray: #e6f2ef;
$babyblue: #e6e0ce;
$smoothgreen: #aaba74;
$lightorange: #f2cb51
